.allDone {
background-color: rgb(251, 255, 255);
display: flex;
justify-content: center;
gap:1%;
height: 9vh;
align-items: center;
list-style-type: none;
}
.allDone  {
 
}

.allDone img {
  display: none;
}
.allDone p{
  margin-top: 16px;
  margin-right: 15px;
}
.allDone button {
  color: aliceblue;
  height: 6vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;

  background-color: rgb(224, 187, 228);
  border-radius: 5px;
  margin-left: 5px;
 
}

.allDone :hover {
  background-color:rgb(215, 151, 223);
}

.itens p{
  margin-top: 2vh;
  font-family: "Poppins";
  text-align: center;
  color: rgb(3, 11, 19);
  list-style-type: none;
  
}
.itens {
  
  display: flex;
  justify-content: center;


  background-color: rgb(200, 185, 223);
}

.itens img {
  margin-top: 10px;
  margin-left: 4vw;
  width: 15vw;
  height: 25vh;
  border-radius: 100%;

  
}

.itens button {
  margin-top: 2vh;
  margin-left: 4vw;
  
  width: 15vw;
  font-weight: 900;
  height: 8vh;
  cursor: pointer;
  border-radius: 10px;
  background: #FCC436;
  
  color: aliceblue;
  border-radius: 20px;
}

.itens button:hover {
  opacity: 0.80;
}


@media only screen and ( min-width : 414px ) {
   .itens button {
    margin-left: 28vw;
  }

  .itens img {
    margin-left: 30vw;
    
  }
}

@media only screen and ( max-width : 375px ) {
  .itens button {
   margin-left: 28vw;
   width: 100px;
   height: 40px;
 }

 .itens img {
   margin-left: 30vw;
   
   
 }


}

@media only screen and ( max-width : 390px ) {
  .itens button {
   margin-left: 28vw;
 }

 .itens img {
   margin-left: 20vw !important;
   width: 25vw !important;
   
 }
}

@media only screen and ( max-width : 393px ) {
  .itens button {
   margin-left: 28vw !important;
 }

 .itens img {
   margin-left: 30vw !important;
   
 }
}


@media only screen and ( max-width : 414px ) {
  .itens button {
    margin-left: 28vw !important;
  }
 
  .itens img {
    margin-left: 29vw !important;
    
  }
}

@media only screen and ( max-width : 820px ) {
  .itens button {
    margin-left: 10vw;
  }
 
  .itens img {
    margin-left: 12vw;
    
  }
}

@media only screen and ( max-width : 540px ) {
  .itens button {
    margin-left: 20vw;
  }
 
  .itens img {
    margin-left: 20vw ;
    
  }
}




@media only screen and ( max-width : 280px ) {
  .itens button {
    margin-left: 38vw !important;
  }
 
  .itens img {
    margin-left: 38vw !important;
    width: 50vw;
  }
}

@media only screen and ( min-width : 912px ) {
  .itens button {
    margin-left: 3vw;
  }

  .itens img {
    margin-left: 3vw;
    
    
  }
}


