.allProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(149, 125, 173);
  height: 25vh;
  width: 80%;
  border-radius: 20px;
  color: aliceblue;
  padding: 20px;
}
.allthem{
  display: flex;
  justify-content: center;
}

.allProfile button {
margin-top: 10px;
  background-color: rgb(224, 187, 228);
  border-radius: 5px;
  margin-left: 5px;
  color: rgb(99, 91, 91);
}

.allProfile button:hover {
  background-color:rgb(215, 151, 223);
}