.category-btn2 :nth-child(5) {


  border-radius: 100%;
  width: 45px;
  height: 45px;
  border-color: yellow;
  background-image: url("cocoa.png");
  background-position: center top 1px;
  background-size: 102%;
 
 }
 .category-btn2 :nth-child(4) {
 
 
   border-radius: 100%;
   width: 45px;
   height: 45px;
   border-color: yellow;
   background-image: url("other.png");
 
   background-position: center top 1px;
   
   background-size: 125%;
  
  }
 
  .category-btn2 :nth-child(2) {
 
 
   border-radius: 100%;
   width: 45px;
   height: 45px;
   border-color: yellow;
   background-image: url("cocktail.png");
  
   background-size: 102%;
  
  }
 
 
 
 
 
 .category-btn2 :nth-child(3) {
 
 
   border-radius: 100%;
   width: 45px;
   height: 45px;
   border-color: yellow;
   background-image: url("shake.png");
   
   background-size: 102%;
  
  }
 
  .category-btn2 :nth-child(1) {
 
 
   border-radius: 100%;
   width: 45px;
   height: 45px;
   border-color: yellow;
   background-image: url("drink.png");
  
   background-size: 102%;
  
  }
 
 .allBtn2 {
 
 display: flex;
 flex-direction: column;
 align-items: center;
 
 
   height: 15vh;
 }
  .allBtn2 button {
 
   border-radius: 100%;
   width: 47px;
   height: 47px;
   background-image: url("AllDrink.png");
   border: yellow;
   background-size: 98%;
   background-position: bottom 20px;
  }
  .allBtn2 img{
 display: none;
  }
 
 .names2 {
  display: none;
   
   }
 
   .theNames2  {
     display: flex;
     flex-direction: row;
     gap: 3%;
     justify-content: center;
     
   }
   .theNames2 p:nth-child(5){
    
   margin-left: 33vw;
    position: absolute;

   }

   .theNames2 p:nth-child(2){
    
   margin-left: -16vw;
    position: absolute;

   }

   .theNames2 p:nth-child(4){
    
   margin-left: 17vw;
    position: absolute;

   }

   .theNames2 p:nth-child(1){
  
   margin-left: -32vw;
    position: absolute;

   }


   
 
   .category-btn2 {
     display: flex;
     gap: 5%;
     justify-content: center;
   }


   @media only screen and (max-width: 414px){
    .theNames2 p:nth-child(5){
      font-size: small;
      margin-left: 78vw;
       position: absolute;
   
      }
   
      .theNames2 p:nth-child(2){
       font-size: small;
      margin-left: -30vw;
       position: absolute;
   
      }

      .theNames2 p:nth-child(3){
        font-size: small;
       margin-left: 1vw;
        position: absolute;
    
       }
    
   
      .theNames2 p:nth-child(4){
        font-size: small;
      margin-left: 40vw;
       position: absolute;
   
      }
   
      .theNames2 p:nth-child(1){
        font-size: small;
      margin-left: -72vw;
       position: absolute;
   
      }
   
   
   }


   @media only screen and (max-width: 375px){
    .theNames2 p:nth-child(5){
      font-size: small;
      margin-left: 78vw;
       position: absolute;
   
      }
   
      .theNames2 p:nth-child(2){
       font-size: small;
      margin-left: -30vw;
       position: absolute;
   
      }

      .theNames2 p:nth-child(3){
        font-size: small;
       margin-left: 1vw;
        position: absolute;
    
       }
    
   
      .theNames2 p:nth-child(4){
        font-size: small;
      margin-left: 40vw;
       position: absolute;
   
      }
   
      .theNames2 p:nth-child(1){
        font-size: small;
      margin-left: -72vw;
       position: absolute;
   
      }
   
   
   }


   @media only screen and (max-width: 280px){
    .theNames2 p:nth-child(5){
      font-size: 10px;
      margin-left: 85vw;
       position: absolute;
   
      }
   
      .theNames2 p:nth-child(2){
       font-size: 10px;
      margin-left: -35vw;
       position: absolute;
   
      }

      .theNames2 p:nth-child(3){
        font-size: 10px;
       margin-left: 1vw;
        position: absolute;
  
       }
    
   
      .theNames2 p:nth-child(4){
        font-size: 10px;
      margin-left: 45vw;
       position: absolute;
   
      }
   
      .theNames2 p:nth-child(1){
        font-size: 10px;
      margin-left: -77vw;
       position: absolute;
   
      }
   
   
   }
