:root {
 --yellow: rgba(252, 220, 54, 1);
  
}

.header-page-title {
  align-items: center;
  
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18pt;
  margin: none;
  height: 25vh;
  width: 99vw;
}

.header-page-title p {
  color: rgba(65, 25, 127, 1);
  font-family: 'Poppins';
  font-weight:900;
}


.all {


  display: flex;
  flex-direction: row;
  justify-content: end;
  
  width: 100%;
  height: 15vh;
  align-items: center;
  background-color: var(--yellow);
  box-sizing: border-box;
  
}

.searchBtn {
  width: 4vw;
  height: 8vh;
  background-color: transparent;
  border: none;
  
  
}


.profileBtn {
  width: 4vw;
  height: 8vh;
  background-color: transparent;
  border: none;
}


#iconR{
  margin-right: 1vw;
}

.title{
  display: flex;
  
  flex-direction: row-reverse;
  margin-right: 72vw;
  gap: 10px;
 
}

.title img{
  width: 71px;
  height: 20px;
}

@media only screen and (max-width: 540px) {

  .title{
    margin-right: 22vw;
  
   
  }

  .searchBtn {
  margin-right: 8vw;
    
    
  }
  .profileBtn{
    margin-right: 9vw;
   
  }

}

@media only screen and (max-width: 375px) {

  .title{
    margin-right: 18vw;
  
   
  }
}


@media only screen and (max-width: 912px) and (min-width: 540px){
  .title{
    margin-right: 57vw;
  
   
  }

  .searchBtn {
    margin-right: 3vw;
      
      
    }
    .profileBtn{
      margin-right: 3vw;
     
    }
}