.searchBar {
  font-family: "Poppins";
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
 


}


.searchBtn {
  margin-top: 10px;
}

.header-search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: rgb(149, 125, 173);
  color: aliceblue;
  padding-bottom: 6vh;
  

}


.header-search-bar > input {
  width: 40vw;
  margin: auto;
  
  border-radius: 10px;
  border: purple;

  
}

.searchBar input {
  
  width: 27px;
 
  
}


.searchBar button {

  background-color: rgb(247, 188, 40);
  width: 20vw;
  height: 3vw;
  color: aliceblue;
  font-family: "Poppins";
  border-radius: 5px;
  margin-left: 15px;
  
 


}

.searchBar button:hover {
  background-color: rgb(255, 251, 0);
}

.radios {
 
  margin-top: 5vh;
}

@media only screen and (max-width: 540px) {
  .header-search-bar{
    height: 25vh;
  }
  .searchBar button {
    height: 20vh;
    margin-left: 14vh;
    
  }
 
}

@media only screen and (max-width: 912px) {
  .header-search-bar {
    height: 20vh;
   
    
  }
  .radios {
    margin-bottom: 7px;
  }
  

  .searchBar button {
    height: 4vh;
    margin-top: 2px;

  }

  .header-search-bar > input {
   margin-top: 20px;
   
  
    
  }
}

